# LOOPING STATEMENTS EXERCISE

---------------

### 1.Print -10 to -1 using for loop

In [1]:
for x in range(-10, 0):
    print(x)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

### 2.Using while loop print numbers 1 to 10

In [4]:
x = 10

track = 1
while track <= x:
    print(track)
    track += 1

1
2
3
4
5
6
7
8
9
10

### 3.Using for loop print first ten even numbers

In [2]:
for x in range(2, 21, 2):
    print(x)

2
4
6
8
10
12
14
16
18
20

### 4.Using while loop generate the  multiplication table of 2

In [8]:

range = 13
track = 0
while track < range:
    print(2, " * ", track, " = ", 2 * track)
    track += 1

2  *  0  =  0
2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
2  *  10  =  20
2  *  11  =  22
2  *  12  =  24

### 5.Using for loop generate the  multiplication table of 10

In [7]:
for x in range(13):
    print(10, " * ", x, " = ", 10 * x)

10  *  0  =  0
10  *  1  =  10
10  *  2  =  20
10  *  3  =  30
10  *  4  =  40
10  *  5  =  50
10  *  6  =  60
10  *  7  =  70
10  *  8  =  80
10  *  9  =  90
10  *  10  =  100
10  *  11  =  110
10  *  12  =  120

### 6. For numbers 1 to 100, if a number is divisible by 3, then print Fizz.
### If a number is divisible by 5, then print Buzz.
### If a number is divisible by 3 and 5 both, then print FizzBuzz
### If a number is neither divisible by 3 or 5, just print the number.

Hint: use range(1,101) function  to generate numbers from 1 to 100

In [1]:
def buzzy(x):
    if x % 3 == 0 and x % 5 == 0:
        return "FizzBuzz"
    if x % 3 == 0:
        return "Fizz"
    if x % 5 == 0:
        return "Buzz"
    else:
        return x
    
for x in range(100):
    print(buzzy(x))

FizzBuzz
1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz

### 7.  Using the range function find the sum of all numbers from 1 to 100.
    For the numbers in the range (1,100):1+2+3+4+5......+100 = 5050

In [3]:
sum = 0

for x in range(101):
    sum = sum + x
    
print(sum)

5050

### 8. Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 202 and 320 (both included).

In [4]:
arr = []

for x in range(202, 320):
    if x % 7 == 0 and x % 5 != 0:
       arr.append(x)
       
print(arr)

[203, 217, 224, 231, 238, 252, 259, 266, 273, 287, 294, 301, 308]

### 9. Python Program to count the number of vowels in a string.
st = "Data Science"

Output: No of vowels = 5

In [5]:
st = "Data Science"

def vowel_check(char):
    if char == 'a' or char == 'e' or char == 'i' or char == 'o' or char == 'u' or char == 'y':
        return True
    
    return False

def count_vowles(str):
    count = 0
    for x in str:
        if vowel_check(x):
            count += 1
            
    return count
    
print(count_vowles(st))

5

### 10. Print Data Science 5 times using for loop

In [3]:
str = "Data Science"

for x in range(5):
    print(str)

Data Science
Data Science
Data Science
Data Science
Data Science